[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
alembic = "*"
psycopg = {extras = ["binary"], version = "*"}
pyjwt = "*"
fastapi-mail = "*"
bcrypt = "*"
itsdangerous = "*"

[dev-packages]
mypy = "*"
ruff = "*"

[requires]
python_version = "3.12"
