[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
alembic = "*"
psycopg = {extras = ["binary"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
pyjwt = "*"
types-passlib = "*"

[dev-packages]
mypy = "*"
ruff = "*"

[requires]
python_version = "3.12"
